
/* .newsList{clear: both;margin-bottom:1rem;margin-top:.7rem;} */

#rem_s {margin-right: 2%;position: absolute; top: 5px; right: 3%;}

ul, li {
    font-style: normal;
    list-style: none;
}


.settle_box {
    background: #fff;
    height: 50px;
    line-height: 50px;
    position: fixed;
    left: 0px;
    bottom: 50px;
    overflow: hidden;
    width: 100%;
    padding: 0 0 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .commodity_list .commodity_list_term li {
    border-top: solid 1px #e6e6e6;
    padding-right: 4%;
    position: relative;
    overflow: hidden;
    padding: 12px 0;
} */
.commodity_list .commodity_list_term li img {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    float: left;
    margin-left: 28px;
}

img {
    border: 0;
}
.commodity_list .commodity_list_term li .div_center {
    width: 69%;
    float: left;
    position: relative;
    margin-top: 7px;
    margin-left: 2%;
}
.total_amount {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
/* .settle_box .all_check {
    width: 17%;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
}
#confirm_cart, #confirm_cart1 {
    background: #fc605a;
    color: #fff;
    height: 100%;
    padding: 8% 10%;
    display: block;
    width: 10rem;
    text-align: center;
    margin-left: 11%;
} */